.category-container {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin: 0 7.5px 15px;

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }


        & .category-body-container {
            opacity: 0.9;
        }
    }


    .category-body-container {
        background-color: #fff;
        border: 1px solid #000;
        padding: 0 25px;
        text-align: center;
        opacity: 0.7;

        h2 {
            font-weight: bold;
            margin: 0 6px 0;
            font-size: 22px;
            color: #4a4a4a;
        }

        p {
            font-weight: lighter;
            font-size: 18px;
        }
    }
}

.background-image {
    background-size: cover;
    background-position: center;


}

.category-container:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}